<div class="cc-header">
    <div class="box">
        <div class="menu">
            <span><i class="iconfont icon-menu"></i><s class="act~ive"></s></span>
            <div class="drop">
                <div class="category">
                    <dl>
                        <dt>
                            <b><a href="//www.bjx.com.cn" target="_blank">北极星电力网</a></b>
                            <small><a href="//www.bjx.com.cn" target="_blank">进入主站</a></small>
                        </dt>
                        <dt>
                            <b><a href="javascript:;" target="_blank">行业站</a></b>
                            <small>Industry Website</small>
                        </dt>
                        <dd>
                            <a href="//huodian.bjx.com.cn" target="_blank" class="col-1">火电</a>
                            <a href="//fd.bjx.com.cn" target="_blank" class="col-1">风电</a>
                            <a href="//guangfu.bjx.com.cn" target="_blank" class="col-1">光伏</a>
                            <a href="//shuidian.bjx.com.cn" target="_blank" class="col-1">水电</a>
                
                            <a href="//shoudian.bjx.com.cn" target="_blank" class="col-1">售电</a>
                            <a href="//chuneng.bjx.com.cn" target="_blank" class="col-1">储能</a>
                            <a href="//qn.bjx.com.cn" target="_blank" class="col-1">氢能</a>
                            <a href="//huanbao.bjx.com.cn" target="_blank" class="col-1">环保</a>
                
                            <a href="//fbs.bjx.com.cn" target="_blank" class="col-2">分布式能源</a>
                            <a href="//www.chinasmartgrid.com.cn" target="_blank" class="col-2">智能电网</a>
                            <a href="//hedian.bjx.com.cn" target="_blank" class="col-1">核电</a>

                            <a href="//news.bjx.com.cn/zhuanti/2019zhnyfw/" target="_blank" class="col-3">综合能源服务</a>
                            <a href="//shupeidian.bjx.com.cn" target="_blank" class="col-1">输配电</a>
                            <a href="//nongdian.bjx.com.cn" target="_blank" class="col-1">农电</a>
                        </dd>
                        <dt>
                            <b><a href="javascript:;" target="_blank">产品站</a></b>
                            <small>Product Website</small>
                        </dt>
                        <dd>
                            <a href="//xinxihua.bjx.com.cn" target="_blank" class="col-4">电力软件</a>
                            <a href="//b2b.bjx.com.cn/company/?class_01=21" target="_blank" class="col-4">仪器仪表</a>
                            <a href="//zidonghua.bjx.com.cn" target="_blank" class="col-4">自动化</a>

                            <a href="//shupeidian.bjx.com.cn/dltx/" target="_blank" class="col-4">电力通信</a>
                            <a href="//b2b.bjx.com.cn/company/?class_01=17&class_02=72" target="_blank" class="col-4">变压器</a>
                            <a href="//b2b.bjx.com.cn/company/?class_01=17&class_02=76" target="_blank" class="col-4">开关</a>

                            <a href="//dianlan.bjx.com.cn" target="_blank" class="col-4">电线电缆</a>
                            <a href="//dianyuan.bjx.com.cn" target="_blank" class="col-4">电源</a>
                        </dd>
                        <dt>
                            <b><a href="//hbjob.bjx.com.cn" target="_blank">功能站</a></b>
                            <small>Function Website</small>
                        </dt>
                        <dd>
                            <a href="//edu.bjx.com.cn" target="_blank" class="col-4">电力学院</a>
                            <a href="//club.bjx.com.cn" target="_blank" class="col-4">电力社区</a>
                            <a href="//news.bjx.com.cn" target="_blank" class="col-4">新闻站</a>
                            
                            <a href="//b2b.bjx.com.cn" target="_blank" class="col-2">电力商务通</a>
                            <a href="//ex.bjx.com.cn" target="_blank" class="col-3">电力会展/会议</a>
                
                            <a href="//market.bjx.com.cn" target="_blank" class="col-4">电力市场</a>
                            <a href="//tech.bjx.com.cn" target="_blank" class="col-4">电力技术</a>
                            <a href="//hbshebei.bjx.com.cn" target="_blank" class="col-4">环保设备</a>
                        </dd>
                        <dt>
                            <b><a href="//gcjob.bjx.com.cn" target="_blank">招聘站</a></b>
                            <small>Recruitment Website</small>
                        </dt>
                        <dd>
                            <a href="//dljob.bjx.com.cn" target="_blank" class="col-1">电力</a>
                            <a href="//hdjob.bjx.com.cn" target="_blank" class="col-1">火电</a>
                            <a href="//gfjob.bjx.com.cn" target="_blank" class="col-1">光伏</a>
                            <a href="//fdjob.bjx.com.cn" target="_blank" class="col-1">风电</a>
                
                            <a href="//sdjob.bjx.com.cn" target="_blank" class="col-1">水电</a>
                            <a href="//hedjob.bjx.com.cn" target="_blank" class="col-1">核电</a>
                            <a href="//hbfdjob.bjx.com.cn" target="_blank" class="col-2">环保发电</a>
                
                            <a href="//dlgcjob.bjx.com.cn" target="_blank" class="col-2">电力工程</a>
                            <a href="//xxhjob.bjx.com.cn" target="_blank" class="col-1">信息化</a>
                            <a href="//cnjob.bjx.com.cn" target="_blank" class="col-1">储能</a>

                            <a href="//zhnyfwjob.bjx.com.cn" target="_blank" class="col-3">综合能源服务</a>
                            <a href="//shdjob.bjx.com.cn" target="_blank" class="col-1">售电</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="tips">
            <span>北极星首页</span>
        </div>

        <div class="apps">
            <span>应用<i class="iconfont icon-xiala act~ive"></i></span>
            <div class="drop">
                <div class="application">
                    <ul>
                        <li>
                            <a href="">
                                <img src="img/header_app1.png" alt="">
                                <p>北极星学社APP</p>
                                <small>电力人的行业内参</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/header_app2.png" alt="">
                                <p>北极星招聘APP</p>
                                <small>我们更懂你的优秀</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- <div class="logo">
            <a href="/">
                <img src="img/logo.png" alt="">
            </a>
        </div> -->

        <!-- <div class="navs">
            <ul>
                <li>
                    <a href="#">首页</a>
                    <ol>
                        <li><a href="">要闻</a></li>
                        <li><a href="">政策</a></li>
                        <li><a href="">项目</a></li>
                        <li><a href="">招标</a></li>
                        <li><a href="">数据</a></li>
                        <li><a href="">技术</a></li>
                        <li><a href="">标准</a></li>
                        <li><a href="">报告</a></li>
                        <li><a href="">企业</a></li>
                        <li><a href="">评论</a></li>
                        <li><a href="">市场</a></li>
                        <li><a href="">国际</a></li>
                        <li><a href="">访谈</a></li>
                        <li><a href="">人物</a></li>
                        <li><a href="">综合</a></li>
                        <li><a href="">财经</a></li>
                        <li><a href="">管理</a></li>
                        <li><a href="">回顾</a></li>
                    </ol>
                </li>
                <li class="active"><a href="#">新闻</a></li>
                <li><a href="#">招聘</a></li>
                <li><a href="#">学院</a></li>
                <li><a href="#">直播</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">会议</a></li>
                <li><a href="#">商务通</a></li>
                <li><a href="#">专题</a></li>
            </ul>
        </div> -->

        <!-- <div class="seek">
            <form action="">
                <input type="text" name="kw">
                <button type="submit">
                    <i class="iconfont icon-sousuo"></i>
                </button>
            </form>

            <div class="drop">
                <div class="history">
                    <p>
                        <span>搜索历史</span>
                        <small>清空</small>
                    </p>
                    <ul>
                        <li>水处理</li>
                        <li>国家最新政策</li>
                        <li>招标项目最新</li>
                        <li>电力行业著名人物</li>
                        <li>火电</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="btns">
            <ol>
                <li><a href="" class="major">注册</a></li>
                <li><a href="">登录</a></li>
            </ol>
        </div>

        <!-- <div class="user">
            <ul>
                <li>
                    <a href="">消息<em>(<i>99+</i>)</em></a>
                </li>
                <li>
                    <a href="">你好，徐薇<img src="pic/job_hr_pic.png" alt=""></a>
                    <div class="more">
                        <ol>
                            <li>
                                <a href="">
                                    <b>我的北极星</b>
                                    <small>发布文章、资料</small>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <b>我的求职简历</b>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <b>我的课程</b>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <b>帐号设置</b>
                                </a>
                            </li>
                        </ol>
                        <ol>
                            <li>
                                <a href="">
                                    <b>退出登录</b>
                                </a>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
        </div> -->
    </div>
</div>
<!-- end of .cc-header -->